:root{
    
/*============Colores fuentes=========*/    
    --color-azul: rgb(5, 5, 156);
    --color-blanco: white;
    --color-fondo-azul: rgba(23, 118, 202, 0.692);

    /*to do: crear variables con el color del fondo de los comentarios, 
    separadores y fondos de formularios, botones */


/*============Tamaños fuentes=========*/

    --letra-xs: 0.6rem;
    --letra-s: 0.8rem;
    --letra-m: 1rem;
    --letra-l: 1.2rem;
    --letra-xl: 1.5rem;

}


body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    color: gray;
    cursor: pointer;
}

.letraMayus{
    text-transform: uppercase;
}

.letraBlanca{
    color: var(--color-blanco);
}

.letraAzul{
    color: var(--color-azul);
}


/*=================banner================*/

.banner{
    margin: 1rem 5% 0 5%;
    border-bottom: 1px solid rgb(214, 212, 212);
    display: flex;
    justify-content: space-between;
    color: var(--color-azul);
    font-size: var(--letra-s);

    svg:hover{
        cursor: pointer;
    }

    h1{
        display: none;
    }
}

.banner>div{
    display: flex;
    gap: 10px;
    color: var(--color-azul);
    
}

.banner>div>div>p{
    display: none;
}

.btnRojo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 6, 6);
    color: var(--color-blanco);
    width: 120px;
    height: 40px;
    border-radius: 40px;
}



/*=================ventana Modal================*/


.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    align-items: center;
    justify-content: center;
    color: black;
    font-size: var(--letra-l);
    

    h2{
        background-color: #004380;
        color: var(--color-blanco);
        padding: 5px;
        margin: 10px 20px 20px 20px;
        border-radius: 10px;
    }

    button{
        width: 200px;
        font-size: 1em;
        border-radius: 10px;
    }

    button:hover{
        background-color: var(--color-fondo-azul);
        color: var(--color-blanco);
    }

    .btnSuscrip{
        display: flex;
        width: 250px;
        height: 40px;
        gap: 20px;
        margin: auto;
        margin-top: 20px;
    }

    
}

.btn1Suscrip:hover{
    background-color: var(--color-azul);
    cursor: pointer;
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid var(--color-azul);
}

/* Botón de cierre */
.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}







/*=================popUp================*/

.popUp{
    position: absolute;
    width: 430px;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 30px;

    input{
        height: 30px;
    }

    a{
        margin: 20px;
        font-size: var(--letra-s);
    }

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div:hover{
        background-color: #d7e5f3;
    }
}

.d-none{
    display: none;
}


/*=================navegador================*/

.navegador{
    position: sticky;
    top: 0;
    background-color:white;
    z-index: 2;
    display: none;
    border-bottom: 2px solid #004380;
}

.navegador ul{
    display: flex;
    justify-content: center;
    color: var(--color-azul);
    gap: 25px;
    padding: 15px 0;
    font-size: var(--letra-s);
    

    a:hover{
        text-decoration: underline;
    }
   
}


/*=================tendencias================*/

.tendencias{
    background-color: rgb(47, 47, 133);
    padding: 10px;
    font-size: var(--letra-xs);
    
    ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        
        
    }

}


/*================publicidad================*/

.publicidad{
    width: 100%;
    display: flex;
    justify-content: center;            
}


/*=================separador================*/
.separador{
    height: 40px;
    background-color: rgb(112, 112, 112);
    display: flex;
    align-items: center;
    display: none;

    p{
        padding-left: 50px;
    }

}


/*=================noticias================*/

.noticias{
    width: 93%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    

    h3{
        font-size: var(--letra-s);
    }
}

.noticias>article{
    
    background-size:cover;
    background-repeat: no-repeat;

}

.noticia1{
    position: relative;

    h3{
        position: absolute;
        background-color: rgb(231, 229, 229);
        width: 80px;
        height: 30px;
        top: 80px;
        left: 20px;
        text-align: center;
        align-content: center;

    }

    p{
        position: absolute;
        color: var(--color-blanco);
        top: 130px;
        left: 20px;
        font-size: var(--letra-l);
        font-weight: 600;


}
}

.noticiaPeque{
    display: flex;
    padding-bottom: 10px;
    
    img{
        padding-bottom: 10px;
    }

    h3{
        display: block;
        padding-left: 5px;
        font-weight: 600;
    }
    
    a{
        display: block;
        padding-left: 5px;
        font-size: var(--letra-s);
        font-weight: 600;
        line-height: 1.8;
        
    }
}

.deportes1{
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    
    a{
        font-size: var(--letra-s);
    }

}


/*=================noticiaHoy================*/

.noticiaHoy{
    width: 93%;
    margin: auto;

    h2{
        font-size: var(--letra-xl);
        margin: 20px 0 10px 0;
        font-weight: 700;
    }

    h3{
        font-size: var(--letra-m);
        margin: 10px auto;
    }

    img{
        margin: 15px auto;
    }

    
}

.noticiaHoy>div{
    display: flex;
    flex-direction: column;
}

.enunciado{
    width: 100%;
}

.cuerpo{
    width: 100%;

    p{
        margin: 15px;
        text-align: justify;
    }
}


/*================ blog================*/

.blog{
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 10px auto;
    gap:15px;
    

    .noBorde{
        border: none;
    }

    img{
        width: 100%;
        border: 1px solid black;
    }

    svg{
        background-color: red;
        margin-right: 5px;
        margin-top: auto;
        margin-bottom: auto;
    }

    figure{
        padding-top: 15px;
    }

    .nuevoComentario{
        margin: 15px 0;
        padding: 10px;
        background-color: var(--color-fondo-azul);
        border-radius: 7px;
        line-height: 2rem;
    }

    fieldset{
        input,
        textarea{
        width: 90%;
        margin: auto;
        display: block;
        }

        label{
            padding-left: 25px;
        }
    }

    button{
        margin: 3rem 2rem;
        width: 100px;
        height: 40px;
        font-size: var(--letra-l);
        border-radius: 30px;
    }

    button:hover{
        background-color: rgb(98, 208, 241);
    }
}

.comentario{
    padding: 10px 15px;
    border:1px solid black;
    border-radius: 0 0 7px 7px;
    background-color: #eaebec;
    text-align: justify;
}


/*=================formulario================*/

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;


    label{
        cursor: pointer;
        margin-top: 10px;
    }

    
}

.formulario{
    width: 90%;
    background-color: rgba(23, 118, 202, 0.692);
    border-radius: 10px;
    margin: 20px auto;

    h2{
        padding: 10px;
    }
}

.datosContacto,
.infoEducativa,
.infoProfesional{
    text-align: left;
    padding: 15px;
}

.datosContacto{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.btnFormulario{
    button{
        margin: 10px;
        width: 80px;
        height: 30px;
        font-size: var(--letra-m);
        border-radius: 20px;
        border-style: none;
    }

    button:hover{
        background-color: rgb(83, 83, 228);
    }
}


/*=================mundo================*/

.mundo{
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    

    video,
    img{
        width: 100%;
        border: 1px solid black;
        border-radius: 0 0 7px 7px;
    }

    div{
        width: 100%;
    }

    figure{
        padding-top: 15px;
    }

    .noBorde{
        border: none;
    }
}


.perfil{
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 7px 7px 0 0;
    background-color: #eaebec;

    img{
        width: 15%;
        border-radius: 50%;
        padding: 8px;
    }

    h3{
        font-weight: 600;
        font-size: var(--letra-m);
    }

    p{
        font-size: var(--letra-s);
    }

    svg{
        margin-right: 5px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.perfil>div{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*=================pie================*/

.pie{
    background-color: #004380;
    width: 100%;

    img{
        margin: auto;
    }
}


/*=====================================
                480px->770px
=======================================*/

@media (min-width: 480px){

    .tendencias{
        font-size: var(--letra-s);
    }
}


/*=====================================
                771px->1200px
=======================================*/

@media (min-width: 771px){

    .banner>div>div>p{
        display:block;
    }

    .navegador{
        display: block;
    }

    .tendencias{
        font-size: var(--letra-s);
    }

    .separador{
        display: flex;
    }

    .noticias{
        
        grid-template-columns: 1fr 1fr;
    }

    .noticiaHoy>div{
        display: flex;
        flex-direction: row;
    }

    .enunciado{
        width: 50%;
    }
    
    .cuerpo{
        width: 50%;
        margin: 60px 20px;
    
        p{
            padding-bottom: 15px;
            text-align: justify;
        }
    }

    .blog{
        grid-template-columns: 1fr 1fr;
    }

    .formulario{
        width: 60%;
        
    }

    .mundo{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    
}

/*=====================================
                1201px->
=======================================*/

@media (min-width: 1200px){

    .tendencias{
        font-size: var(--letra-s);
    }

    .navegador{
        display: block;
    }
    
    .noticias{
        
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mundo{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .blog{
        grid-template-columns: 1fr 1fr 1fr;
    }
}